<p>
	<label for="preg" class="rem">Pregunta</label>
	<input type="text" name="quiz[pregunta]" placeholder="Pregunta" value="<%=quiz.pregunta%>"/>
</p>
<p>
	<label for="preg" class="rem">Respuesta</label>
	<input type="text" name="quiz[respuesta]" placeholder="Respuesta" value="<%=quiz.respuesta%>"/>
</p>
<p>
<input type="submit" value="Enviar">
<a href="/quizes"><button type="button">Cancelar</button></a>
</p>